<div class="band band-primary">
  <div class="page-header">
    <h1 class="text-center fit-text">That's it!</h1>
    <h3 class="text-center subhead"><%= "We've updated your avatar on #{@network}. Thanks for your support." %></h3>
  </div>

  <div class="final-avatar">
    <%= image_tag 'bernietar.png', class: 'avatar img-responsive' %>
  </div>
</div>

<div class="band band-gray">
  <div class="row">
    <div class="col-sm-8">
      <h2>What's Next?</h2>
      <p>If you're active on more than one social network you can update your avatar on those as well. Name recognition
      is an extremely important part of this process and updating to the Bernietar helps to increase it.</p>
      <p>As you're probably aware, the campaign isn't accepting money from Super PACs. This means they're reliant on
      people like us to donate whatever we can. $5 here or $10 there can go a long way. If you're in a position to donate
      a couple bucks, head over to the campaign's donation page and give what you can. It really does help.</p>
      <%= link_to 'Donate', 'https://secure.actblue.com/contribute/page/lets-go-bernie', class: 'btn btn-lg btn-success' %>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'social/network_status', locals: { network: 'facebook' } %>
      <%= render partial: 'social/network_status', locals: { network: 'twitter' } %>
    </div>
  </div>
</div>