<div class="band band-primary">
  <div class="hero">
	<h1 class="text-center">Bernietar</h1>
	<h3 class="text-center">Show support for Bernie by changing your social media avatars.</h3>
  	<%= image_tag 'bernitar-logo.png', alt:'Bernietar', class:'bernietar' %>
  </div>
</div>

<div class="band band-gray">
  <div class="container home-explanation">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus enim explicabo ipsum mollitia non porro sit tenetur? Delectus dignissimos fugiat odio reprehenderit. Aliquam incidunt ipsam nam nihil nobis repellat!

	<% if current_user.nil? %>
		<h3>Login options</h3>
		<ul>
		  <li><%= link_to 'Login with Twitter', user_omniauth_authorize_path(:twitter) %></li>
		  <li><%= link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook) %></li>
		</ul>
	<% else %>
		<p><%= "Welcome #{current_user.name}" %></p>
		<p>You're currently logged into:</p>
		<ul>
		  <% current_user.identities.each do |i| %>
			  <li><%= i.provider %></li>
		  <% end %>
		</ul>
		<hr/>

		<h3>Other Login options</h3>
		<ul>
		  <li><%= link_to 'Login with Twitter', user_omniauth_authorize_path(:twitter) %></li>
		  <li><%= link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook) %></li>
		</ul>

		<hr/>
		<p><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
	<% end %>
  </div>
</div>

