<div class="band band-gray">
  &nbsp;
</div>

<div class="band band-white">
  <div class="container">
    <footer class="site-footer">
      <h4 class="text-center">Helpful Links</h4>
      <ul class="helpful-links">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Official campaign website', 'https://berniesanders.com/', target: '_blank' %></li>
        <li><%= link_to 'Donate to Bernie', 'https://secure.actblue.com/contribute/page/lets-go-bernie?refcode=homepage_module&amount=10', target: '_blank' %></li>
        <li><%= link_to '/r/sandersforpresident', 'http://www.reddit.com/r/SandersForPresident/', target: '_blank' %></li>
        <li><%= link_to 'Bernie on Twitter', 'https://twitter.com/BernieSanders', target: '_blank' %></li>
        <li><%= link_to 'Bernie on Facebook', 'https://www.facebook.com/berniesanders', target: '_blank' %></li>
      </ul>
    </footer>
    <div class="text-center copyright">
      <p style="font-size:16px;">&copy; Copyright <%= Time.now.year %>. Bernietar.com. All Rights Reserved. <%= link_to 'Privacy Policy', privacy_path %>.</p>
      <p>This site is not a part of the official campaign. I just like Bernie's message and wanted to help :)</p>
    </div>

  </div>
</div>

<%= render 'shared/debug' if Rails.env.development? %>
<%= render 'shared/google_analytics' if Rails.env.production? %>
</body>
</html>
