<div class="band band-gray">
  &nbsp;
</div>

<div class="band band-white">
  <div class="container">
	<footer class="site-footer">
	  <ul class="helpful-links">
		<li><%= link_to 'Official campaign website', 'https://berniesanders.com/', target: '_blank' %></li>
		<li><%= link_to 'Donate to Bernie', 'https://secure.actblue.com/contribute/page/lets-go-bernie?refcode=homepage_module&amount=10', target: '_blank' %></li>
		<li><%= link_to '/r/sandersforpresident', 'http://www.reddit.com/r/SandersForPresident/', target: '_blank' %></li>
		<li><%= link_to 'Bernie on Twitter', 'https://twitter.com/BernieSanders', target: '_blank' %></li>
		<li><%= link_to 'Bernie on Facebook', 'https://www.facebook.com/berniesanders', target: '_blank' %></li>
	  </ul>
	</footer>
  </div>
</div>


</body>
</html>